<div class="item-laptop">
  <p>
    <a class="title" href="{{item.url}}" target="_blank">
      {{ item.title }}
    </a>
    <span *ngIf="item.domain" class="domain">({{item.domain}})</span>
  </p>
  <div class="subtext-laptop" *ngIf="item.type !== 'job'">
    <span>
      {{item.points}} points by
      <a [routerLink]="['/user', item.user]" routerLinkActive="active">{{ item.user }}</a>
    </span>
    <span>
      {{item.time_ago}}
      <span> |
        <a [routerLink]="['/item', item.id]" routerLinkActive="active">
          <span *ngIf="item.comments_count !== 0">
            {{item.comments_count}}
            <span *ngIf="item.comments_count === 1">comment</span>
            <span *ngIf="item.comments_count > 1">comments</span>
          </span>
          <span *ngIf="item.comments_count === 0">discuss</span>
        </a>
      </span>
    </span>
  </div> <!-- end subtext-laptop !== 'job' -->
  <div class="subtext-laptop" *ngIf="item.type === 'job'">
    <span>
      {{item.time_ago}}
    </span>
  </div> <!-- end subtext-laptop === 'job' -->
</div> <!-- end item-laptop -->

<div class="item-mobile">
  <!-- Markup that shows only on mobile (to give the app a
  responsive mobile feel). -->
  <p> 
    <a class="title" href="{{item.url}}">
      {{item.title}}
    </a>
    <span *ngIf="item.domain" class="domain">({{item.domain}})</span>
  </p>
  <div class="subtext-palm" *ngIf="item.type !== 'job'">
    <div class="details"> 
      <span class="name"> <a [routerLink]="['/user', item.user]" routerLinkActive="active">{{ item.user }}</a></span>
      <span class="right">{{item.points}} ★</span>
    </div>
    <div class="details">
      {{ item.time_ago }}
      <a [routerLink]="['/item', item.id]" routerLinkActive="active" class="comment-number"> • 
        <span *ngIf="item.comments_count !== 0">
          {{item.comments_count}}
          <span *ngIf="item.comments_count === 1">comment</span>
          <span *ngIf="item.comments_count > 1">comments</span>
        </span>
        <span *ngIf="item.comments_count === 0">discuss</span>
      </a>
    </div>
  </div> <!-- end subtext-palm !== 'job' -->
  <div class="subtext-palm" *ngIf="item.type === 'job'">
    <span>
      {{item.time_ago}}
    </span>
  </div> <!-- end subtext-palm === 'job' -->
</div> <!-- end item-mobile -->