<div class="main-content">
  <div class="loading-section" *ngIf="!item">
    <!-- Loading bars that show when request is pending -->
  </div>

  <div *ngIf="item" class="item">
    <div class="mobile item-header">
      <p class="title-block">
        <a href="{{item.url}}">
          {{item.title}}
        </a> <br>
        <span *ngIf="item.domain" class="domain">({{item.domain}})</span>
      </p>
    </div>

    <div class="laptop" [class.item-header]="item.comments_count > 0 || item.type === 'job'" [class.head-margin]="item.text">
      <p>
        <a class="title" href="{{item.url}}" target="_blank">
          {{item.title}}
        </a>
        <span *ngIf="item.domain" class="domain">({{item.domain}})</span>
      </p>
      <div class="subtext">
        <span>
          {{item.points}} points by 
          <a [routerLink]="['/user', item.user]" routerLinkActive="active">{{ item.user }}</a>
        </span>
        <span>
          {{item.time_ago}}
          <span> | 
            <a [routerLink]="['/item', item.id]" routerLinkActive="active">
              <span *ngIf="item.comments_count !== 0">
                {{item.comments_count}}
                <span *ngIf="item.comments_count === 1">comment</span>
                <span *ngIf="item.comments_count > 1">comments</span>
              </span>
              <span *ngIf="item.comments_count === 0">discuss</span>
            </a>
          </span>
        </span>
      </div> <!--end subtext-->
    </div> <!--end laptop-->
    <p class="subject" [innerHTML]="item.content"></p>
    <app-comment-tree [commentTree]="item.comments"></app-comment-tree>
  </div>
</div>
